body{
  margin: 0 auto;
  max-width: 1200px ;
}

.slider-main img{
  width:100%;
  border-radius: 5px;

}
.slider-main{
  display: flex;
  overflow: hidden;
  width: 800px;
  margin-top: 130px;
  margin-left: 190px;
}
.slider-dots{
  position: absolute;
  top: 75%;
  margin-left: 550px;
  
}
.dot1{
  border-radius: 50%;
  height: 15px;
  width: 10px;
  cursor: pointer;
}
.dot1:hover{
  background:pink ;
}
.dot2{
  border-radius: 50%;
  height: 15px;
  width: 10px;
  cursor: pointer;
}
.dot2:hover{
  background: pink ;
}
.dot3{
  border-radius: 50%;
  height: 15px;
  width: 10px;
  cursor: pointer;
}
.dot3:hover{
  background:pink ;
}
.slider-dots:hover{
  background-color: greenyellow;
  border-radius: 5px;
}
.dot{
  cursor: pointer;
}

.slider-next{
  position: absolute;
  margin-left: 940px;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: grey;
  margin-top: -250px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}
.slider-prev{
  position: absolute;
  margin-left: 200px;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: grey;
  margin-top: -250px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}
.slider-next:hover{
  background-color: greenyellow;
}
.slider-prev:hover{
  background-color: greenyellow;
}
 